<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
<!--            <li>-->
<!--                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' href="https://github.com/andresjosehr" target='_blank'>-->
<!--                    <i class="fab fa-github"></i>-->
<!--                </a>-->
<!--            </li>-->

            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_facebook", "footer", "facebook")' href="https://www.facebook.com/share/NxCzVpAKWmxrvoYY/?mibextid=qi2Omg" target='_blank'>
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_whatsapp", "footer", "whatsapp")' href="https://wa.me/201553754198" target='_blank'>
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_instagram", "footer", "instagram")' href="https://www.instagram.com/arch.mustafa.design?igsh=ZGU0a2xsd3VoMHF1" target='_blank'>
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_behance", "footer", "behance")' href="https://www.behance.net/engmusesmail?fbclid=PAAaag0mZa4Ltga44x1WM2c2GUxyHqH0TpzWkbrH4b_g3xxsrJMAUzCl5fJgk" target='_blank'>
                    <i class="fab fa-behance"></i>
                </a>
            </li>
          <li>
            <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")' href="https://www.linkedin.com/in/moesmail?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target='_blank'>
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
<!--            <li>-->
<!--                <a (click)='analyticsService.sendAnalyticEvent("click_x", "footer", "x")' href="http://X.com/UpHorizons" target='_blank'>-->
<!--                    <i class="fab fa-twitter"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a (click)='analyticsService.sendAnalyticEvent("click_snapchat", "footer", "snapchat")' href="http://Snapchat.com/add/uphorizons" target='_blank'>-->
<!--                    <i class="fab fa-snapchat"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a (click)='analyticsService.sendAnalyticEvent("click_tiktok", "footer", "tiktok")' href="http://Tiktok.com/@uphorizons" target='_blank'>-->
<!--                    <i class="fab fa-tiktok"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a (click)='analyticsService.sendAnalyticEvent("click_youtube", "footer", "youtube")' href="http://Youtube.com/@uphorizons" target='_blank'>-->
<!--                    <i class="fab fa-youtube"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")' href="https://www.linkedin.com/in/andresjosehr/" target='_blank'>-->
<!--                    <i class="fab fa-whatsapp"></i>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:esmailmustafa16@gmail.com" target='_blank'>esmailmustafa16&#64;gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_SaadRaouf98", "footer", "click")' href="https://github.com/SaadRaouf98" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built by Web Development Team</div>
        </a>
<!--        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_brittany", "footer", "click")' href="https://github.com/bchiang7/v4" target="_blank" rel="nofollow noopener noreferrer">-->
<!--            <div class="mt-2">Designed by Brittany Chiang</div>-->
<!--        </a>-->
    </div>

</footer>
