<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>{{"Banner.Pretitle" | translate}}</h1>
                </div>
                <div class='banner-title'>
                    <h2>{{"Banner.HeadTitle" | translate}}</h2>
                    <h3>{{"Banner.SubTitle" | translate}}</h3>
                </div>
                <div class='banner-description'>
                    <p [innerHTML]='"Banner.Description" | translate' class="mt-4"></p>
                </div>
            </div>
            <div class="div-btn-banner">
<!--                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' href="mailto:esmailmustafa16@gmail.com" target="_black" class="main-btn">-->
<!--                    {{"Banner.ActionBtn" | translate}}-->
<!--                </a>-->
                <a (click)='analyticsService.sendAnalyticEvent("click_whatsapp", "banner", "whatsapp")' href="https://wa.me/201553754198" target="_black" class="main-btn">
                    {{"Banner.ActionBtn" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
